*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
html{
    scroll-behavior: smooth;
}
/* Mid part CSS */
#mid {
    margin: 20px 50px;
}

.info .content {
    padding: 10px 20px;
}

.content p {
    margin: 5px;
}

.content h2{
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 12px;
    color: rgb(78, 14, 14);
}

/* Img CSS */
#img{
    
    background: url(Photos/Logo.png) no-repeat center center/cover;
    background-color: #00467f;
    height: 100vh;
    width: 100%;
}
#img div{
    text-align: center;
    padding-top: 200px;
    justify-content: center;
}