* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

html {
    scroll-behavior: smooth;
}

/* Img CSS */
#img{
    background: url(Photos/buy.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}
#img div{
    text-align: center;
    padding-top: 200px;
    justify-content: center;
}

/* Mid part CSS */
#mid {
    margin: 20px 50px;
}

.info .content {
    padding: 10px 20px;
}

.content p {
    margin: 5px;
}

.content h2{
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 12px;
    color: rgb(78, 14, 14);
}

/* Form CSS */
#form{
    justify-content: space-between;
    /* text-align: center; */
    display: flex;
    margin: 10px 50px;
}
#form .form{
    padding: 0px 20px;
}
#form .form .inq{
    padding: 10px 0px;
}
.inq h2{
    padding-bottom: 5px;
}
.form .hours{
    padding: 15px 0px;
}
.app{
    padding-bottom: 10px;
}
/* #form .contactForm{
    float: right;
} */
.contactForm{
    /* margin-left: 525px; */
    padding: 10px 40px;
    
}
.contactForm h2{
    /* color: #deb992; */
    font-size: 24px;
    font-weight: bold;
}

.contactForm .inputBox{
    /* color: #1ba098; */
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    resize: none;
    border: none;
    border-bottom: black;
    border-bottom: 2px solid ;
}
.contactForm .btn input{
    border: none;
    font-size: 16px;
    border-radius: 30px;
    padding: 12px;
    cursor: pointer;
}
.contactForm .btn input:hover{
    background-color: black;
    color: white;
}

