*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
html{
    scroll-behavior: smooth;
}
#contact{
    position: relative;
    height: 708px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
    /* background: url(../Photos/about.jpg) no-repeat center center/cover; */
    background-color: #051622;
}

#contact .content {
    width: 800px;
    text-align: center;
}
#contact h1{
    color: #deb992;
    font-size: 3.8rem;
    font-weight: bold;
}
#contact .content p{
    color: #1ba098;
    font-weight: bold;
}
.con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.con .contactinfo{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.con .contactinfo .box {
    color: #deb992;
    width: 50%;
    position: relative;
    display: flex;
    padding: 20px;
} 

.con .contactinfo .box span{

    color: #1ba098;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
} 
.con .contactinfo .box .text{
    color: #1ba098;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
} 
.con .contactinfo .box .text h3{

    color: #deb992;
    font-weight: bold;
} 
.contactForm{
    width:50%;
    padding: 40px;
}
.contactForm h2{
    color: #deb992;
    font-size: 30px;
    font-weight: bold;
}

.contactForm .inputBox{
    color: #1ba098;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    resize: none;
    border: none;
    border-bottom: black;
    border-bottom: 2px solid ;
}
.contactForm .btn input{
    border: none;
    font-size: 16px;
    border-radius: 30px;
    padding: 12px;
    cursor: pointer;
}
.contactForm .btn input:hover{
    background-color: black;
    color: white;
}
