* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
html{
    scroll-behavior: smooth;
}

/* Navigation CSS */
#nevbar {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    height: 90px;
    background-color: #00467f;
}

#nevbar .nav {
    display: block;
}

#nevbar nav {
    margin: auto;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
}

#nevbar img {
    width: 150px;
    height: 90px;
}

#nevbar ul {
    text-align: center;
    display: flex;
}

#nevbar li {
    font-size: 1.3rem;
    list-style: none;
}

#nevbar li a {
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 20px;
    justify-content: center;
}

#nevbar li a:active{
    color: #00467f;
    background-color: white;
}

#nevbar li a:hover {
    color: #00467f;
    background-color: white;
}

#nevbar .search {
    margin: auto;
}

#nevbar input {
    padding: 2px 15px;
    height: 30px;
    width: 250px;
    border-radius: 50px;
}

/* Mid Part CSS */
#mid {
    color: white;
 
    text-align: center;
    background: url(Photos/bc1.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

#mid .content {
    padding-top: 300px;
}

#mid .content h1 {

    padding-top: 70px;
    font-size: 3.1rem;
    font-weight: 500;

}

#mid .content p {
    font-size: 16px;
    padding: 10px;
}

#mid .btn {
    border-radius: 20px;
    padding: 10px;
}

#mid .btn:hover {
    color: white;
    background-color: black;
}

/* Projects Section */
#project {
    color: white;
    text-align: center;
}

#project .services {
    margin: 34px;
    display: flex;

}

#project .box {
    /* background-color: #f3f0f0; */
    background-color: #00467f;
    /* border: 2px solid brown; */
    padding: 34px;
    margin: 3px 25px;
    box-shadow: 2px 3px #00213b;
    /* border-radius: 22px; */
}

#project .box img {
    display: block;
    margin: auto;
    height: 156px;
    border-radius: 20px;
}

/* end CSS */
#end {
    color: white;
    background-color: #00467f;
}

#end .container {
    margin: 0px 150px;
}

#end .container .colums {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.colums .c1 img {
    box-sizing: border-box;
    width: 200px;
    height: 120px;
}
.colums .c1 .c2 .c3{
    display: flex;
    flex-direction: column;
}
#end .up{
    text-align: center;
}
#end .up a{
    color: white;
    text-decoration: none;
    
}

/* footer CSS */
footer{
    text-align: center;
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes CSS */
.b {
    cursor: pointer;
    text-decoration: none;
    color: #00467f;
    display: block;
    font-size: 1.3rem;
    padding: 2px 20px;
    border: 2px solid black;
    background-color: white;
    margin: 10px auto;
    /* border-radius: 30px; */
    display: flex;
}

.b:hover {
    color: white;
    background-color: #00213b;
}

.h-primary {
    color: black;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondry {
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 12px;
}

.links {
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 20px;
    justify-content: center;
}